
    <!-- ################-->
    <!-- START TOP MENU -->
    <!-- ################-->
    <div class="nav-reaction">
      <div class="navbar navbar-static-top"> 
        <!-- navbar-fixed-top -->
        <div class="navbar-inner">
          <div class="home_page_container"> <a class="brand" href="/"> 
            <img src="http://www.logomaker.com/logo-images/b22571254ae62347.gif">
            <span id="homepage_header">Coders for Humanity</span></a>
            <div id="main-nav">
              <div class="nav-collapse collapse">
                <ul class="nav">

                  <li class="dropdown"><a href="#about_us">About Us</a> </li>
                  <li><a href="#projects_home">Projects</a></li>
                  <% #if current_user %>
                  <li><a href="#users_show">My Dashboard</a></li>
                  <% #else %>
                  <li><a href="/signout">Sign out</a>
                  <% #end %>
                    
                  </li>
                </ul>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="page-header">
  <div class="shine">
    <div class="container">
      <div class="row-fluid">
        <div class="span12">
      </div>
     </div>
    </div>
     </div>
   </div>
