<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>user Show Page | CODERS FOR HUMANITY</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Displays a user's project">
  <meta name="author" content="Coders for Humanity Team">
  <!-- Le styles -->
  <link href="assets/css/bootstrap.css" rel="stylesheet">
  <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="assets/css/switcher.css" rel="stylesheet">
  <link href="assets/css/pricing.css" rel="stylesheet">
  <link href="assets/css/font-awesome.min.css" rel="stylesheet">
  <link href="assets/css/social.css" rel="stylesheet">
  <link href="assets/css/faq.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet" id="colors"><!-- !important THIS STYLE CSS ON BOTTOM OF STYLEs LIST-->
  <link href="assets/css/prettyPhoto.css" rel="stylesheet" type="text/css" />
  <link href="assets/js/google-code-prettify/prettify.css" rel="stylesheet">
  <link href="users.css">
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
  <!-- Le fav and touch icons -->
</head>

<body>
  <!--START MAIN-WRAPPER-->
  <div class="main-wrapper">
    <!-- ################-->
    <!-- START TOP MENU -->
    <!-- ################-->
    <div class="nav-reaction">
      <div class="navbar navbar-static-top">
        <!-- navbar-fixed-top -->
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="index.html"><span>Coders for Humanity</span><!--<img src="assets/img/Logo.png" alt="Logo">--></a>
            <div id="main-nav">
              <div class="nav-collapse collapse">
                <ul class="nav">
                  <li><a href="index.html">Dashboard</a></li>
                  <li><a href="index.html">Projects</a></li>
                  <li><a href="index.html">Sign Out</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ################-->
    <!-- END TOP MENU -->
    <!-- ################-->
    <!-- PAGE HEADER -->
    <div class="page-header">
      <div class="shine">
        <div class="container">
          <div class="row-fluid">
            <div class="span12">
              <div class="row-fluid">
                <div class="span12">
                  <h1 class="welcome_to_dashboard">Dashboard</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- PAGE HEADER -->

    <!-- ################ -->
    <!-- CONTENT CONTAINER-->
    <!-- ################ -->
    <div class="container">
      <div class="row-fluid">
        <!-- ASIDE -->
        <div class="span4">
          <div class="well">
            <h2 class="standart-h2title line2">Profile</h2>
            <p class="idea_owners_name">
              Nadine Anderson
            </p><br>
            <p class="idea_owners_organization">
              Beata Gardens
            </p>
          </div>
        </div>
        <!-- END:  ASIDE -->
        <!-- PROJECT SHOW AREA -->
        <div class="span8">
          <div class="blog-post">
            <div class="">
              <span class="label label-info label-xl span2 center">
                <span class="date-blog">
                  <p class="project_flag">
                    Project
                  </p>
                </span>
              </span>

              <div class="span10">
                <h2 class="standart-h2title">
                  <div class="project_title">
                    TITLE<br>
                    <a href="#">
                      Find and schedule network opportunities in my area
                    </a>
                  </div>
                </h2>
              </div>

              <p class="meta-blog clearfix">
                <i class="icon-comment"></i>
                <a id="discussion_thread" href="#">
                  3 Discussion comments
                </a>
                |
                <i class="icon-share"></i>
                <a id="feedback_thread" href="#">
                  2 Feedback comments
                </a>
                |
                <a href="#"><span class="label label-info">Join Discussion</span></a>
                <a href="#"><span class="label label-info">Give Feedback</span></a>
              </p>
            </div>

            <p>
              DESCRIPTION<br>
              Build me an app that tells me about the network opportunities in my area, allows me to select the ones I am interested in, and adds the events to my diary.
            </p>

            <p>
              STATUS<br>
              <span class="project_status">
                Complete
              </span>
            </p>

            <p>
              CATEGORY<br>
              <span class="project_category">
                Small Business
              </span>
            </p>

          <!-- ACTION BUTTON -->
          <button class="btn btn-info btn-large" type="submit">Edit your project</button>
          <button class="btn btn-info btn-large" type="submit">View your project</button>
          <!-- END ACTION BUTTON -->

          </div>

          <div class="row-fluid">
            <div class="line2 center">
              <h5 class="standart-h3title">
                <span class="idea_owners_feedback">
                  Feedback
                </span>
              </h5>
            </div>

            <ul class="media-list">
              <li class="media">
                <div class="media-body">
                  <div class="media-heading comment-info">
                    Posted by
                    <i class="fa-icon-user"></i>
                    <a href="#">
                      Anna Smith
                    </a>
                    <span>|</span>
                    25 apr 2019
                  </div>
                  <p></p>
                  <p>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                  </p>
                </div>
              </li>
              <li class="media">
                <div class="media-body">
                  <div class="media-heading comment-info">
                    Posted by
                    <i class="fa-icon-user"></i>
                    <a href="#">
                      Anna Smith
                    </a>
                    <span>|</span>
                    25 apr 2019
                  </div>
                  <p>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                  </p>
                </div>
              </li>
            </ul>
          </div><br>

          <div class="line2 center">
            <h5 class="standart-h3title"><span>Give Feedback</span></h5>
          </div>
          <!-- FEEDBACK FORM -->
          <div class="well">
            <form accept-charset="UTF-8"  method="POST" class="comments-form">

              <p class="span3">
                <label for="comment-name">
                  <strong>
                    Name
                  </strong>
                  <span class="label">
                    required
                  </span>
                </label>
                <input class="span12" type="text" name="name" placeholder="Name" value="" >
              </p>

              <p class="span3">
                <label for="comment-name">
                  <strong>
                    Email
                  </strong>
                  <span class="label">
                    required
                  </span>
                </label>
                <input class="span12" type="text" name="name" placeholder="Email" value=""  required="" >
              </p>

              <p class="span3">
                <div class="feedback_subject">
                  <label for="comment-name">
                    <strong>
                      Who would you like to give feedback about?
                    </strong>
                  </label>
                  <select class="span12" type="text" name="name" placeholder="Website" value="" id="comment-name" required="" >
                </div>
              </p>

              <textarea class="span12" id="new_message" name="new_message" placeholder="Type in your comment" rows="5" ></textarea>

              <button class="btn btn-info btn-large" type="submit">Post</button>
            </form>
          </div>
          <!-- END FEEDBACK FORM -->
        </div>
        <!-- END PROJECT SHOW AREA -->
      </div>
    </div>
    <!-- ################ -->
    <!--END: CONTENT CONTAINER-->
    <!-- ################ -->
  </div>
  <!-- END MAIN-WRAPPER -->


  <!-- Footer
      ================================================== -->
  <footer class="footer">
    <div class="container">
      <div class="row-fluid">
        <div class="span12">
      <div class="row-fluid">
      <div class="span1">
          <span class="twitter-sign"> <i class="fa-icon-twitter fa-icon-large main-color"></i></span>
      </div>
      <div class="span11">
            <p class="twitter-bottom"><span class="main-color">TWITTER FEED //</span> Projecting with VERSO has been a refreshing experience. They listened to our needs and came up with a <a href="#" title="twitter">great solution</a></p>

          </div>
        </div>
      </div>
      </div>

      <div class="row-fluid">
        <div class="span3">
          <h4 class="line3 center standart-h4title"><span>Navigation</span></h4>
          <ul class="footer-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">project</a></li>
            <li><a href="#">Elements</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </div>
        <div class="span3">
          <h4 class="line3 center standart-h4title"><span>Useful Links</span></h4>
          <ul class="footer-links">
            <li><a href="#">VERSO</a></li>
            <li><a href="#">VERSO</a></li>
            <li><a href="#">WordPress.com</a></li>
            <li><a href="#">ThemeForest.net</a></li>
            <li><a href="#">Free Vector Icons</a></li>
          </ul>
        </div>
        <div class="span3">
          <h4 class="line3 center standart-h4title"><span>Our office</span></h4>
         <address>
                      <strong>VERSO, Inc.</strong><br>
                      <i class="fa-icon-map-marker"></i> 795 Folsom Ave, Suite 600<br>
                      San Francisco, CA 94107<br>
                      <i class="fa-icon-phone-sign"></i> + 4 (123) 456-7890
                      <div class="foot-line"></div>

                    </address>
        </div>
        <div class="span3">
          <h4 class="line3 center standart-h4title"><span>Stay in touch</span></h4>

          <div class="widget_nav_menu">
          <ul class="socialIcons">
              <li class="vimeo"><a href="#">vimeo </a></li>
              <li class="facebook"><a href="#">facebook </a></li>
              <li class="linkedin"><a href="#">linkedin </a></li>
              <li class="twitter"><a href="#">twitter</a></li>
              <li class="twitter2"><a href="#">twitter2</a></li>
              <li class="pinterest"><a href="#">pinterest</a></li>
              <li class="flickr"><a href="#">flickr </a></li>
              <li class="digg"><a href="#">digg</a></li>
              <li class="yahoo1"><a href="#">yahoo1</a></li>
              <li class="yahoo2"><a href="#">yahoo2</a></li>
              <li class="reddit"><a href="#">reddit</a></li>
              <li class="googleplus"><a href="#">googleplus</a></li>
              <li class="stumbleupon"><a href="#">stumbleupon</a></li>
              <li class="skype"><a href="#">skype</a></li>
              <li class="deviantart"><a href="#">deviantart</a></li>
              <li class="delicious"><a href="#">delicious </a></li>
              <li class="tumblr"><a href="#">tumblr </a></li>
              <li class="lastfm"><a href="#">lastfm </a></li>
              <li class="youtube"><a href="#">youtube</a></li>
              <li class="friendfeed"><a href="#">friendfeed </a></li>
              <li class="myspace"><a href="#">myspace </a></li>
              <li class="rss"><a href="#">rss </a></li>
              <li class="badoo"><a href="#">badoo </a></li>
              <li class="dribble"><a href="#">dribble </a></li>
              <li class="blogger"><a href="#">blogger </a></li>
              <li class="homeicon"><a href="#">homeicon</a></li>
              <li class="phone"><a href="#">phone </a></li>
              <li class="email"><a href="#">email </a></li>
              <li class="picassa"><a href="#">picassa </a></li>
              <li class="livejournal"><a href="#">livejournal </a></li>
              <li class="bebo"><a href="#">bebo </a></li>
              <li class="technorati"><a href="#">technorati </a></li>
              <li class="newsvine"><a href="#">newsvine</a></li>
              <li class="wordpress"><a href="#">wordpress </a></li>
              <li class="yelp"><a href="#">yelp </a></li>
                     </ul>
          </div>
        </div>
      </div>
      <hr class="half1 copyhr">
      <div class="row-fluid copyright">
        <div class="span12 center">Copyright &copy; 2012. VERSO</div>
      </div>
    </div>
  </footer>

  <!-- END: FOOTER -->
  </div>
  <!-- END MAIN-WRAPPER-->
  <!-- Le javascript
      ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->

  <script src="assets/js/jquery.js" type="text/javascript"></script>
  <script src="assets/js/google-code-prettify/prettify.js" type="text/javascript"></script>
  <script src="assets/js/bootstrap-transition.js" type="text/javascript"></script>
  <script src="assets/js/bootstrap-alert.js" type="text/javascript"></script>
  <script src="assets/js/bootstrap-modal.js" type="text/javascript"></script>
  <script src="assets/js/bootstrap-dropdown.js" type="text/javascript"></script>
  <script src="assets/js/bootstrap-scrollspy.js" type="text/javascript"></script>
  <script src="assets/js/bootstrap-tab.js" type="text/javascript"></script>
  <script src="assets/js/bootstrap-tooltip.js" type="text/javascript"></script>
  <script src="assets/js/bootstrap-popover.js" type="text/javascript"></script>
  <script src="assets/js/bootstrap-button.js" type="text/javascript"></script>
  <script src="assets/js/bootstrap-collapse.js" type="text/javascript"></script>
  <script src="assets/js/bootstrap-carousel.js" type="text/javascript"></script>
  <script src="assets/js/bootstrap-typeahead.js" type="text/javascript"></script>
  <script src="assets/js/bootstrap-affix.js" type="text/javascript"></script>
  <script src="assets/js/application.js" type="text/javascript"></script>
  <!-- END BOOTSTRAP SCRIPTS -->
  <script type="text/javascript" src="assets/js/jquery.easing.js"></script>
  <script src="assets/js/jquery.prettyPhoto.js" type="text/javascript"></script>
  <script type="text/javascript" src="assets/js/jquery.easing.js"></script>
  <script type="text/javascript" src="assets/js/jquery.transit.min.js"></script>

  <script src="assets/js/superfish.js" type="text/javascript"></script>
  <script src="assets/js/custom.js" type="text/javascript"></script><script src="assets/js/jquery.ui.totop.js" type="text/javascript"></script>
  <script type="text/javascript" src="assets/js/jquery.accordion.js"></script>

          <script type="text/javascript">
              jQuery(function() {

          jQuery('#st-accordion').accordion();



              });
          </script>
</body>
</html>
