<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Blog | VERSO HTML5 Responsive Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<!-- Le styles -->
<link href="assets/css/bootstrap.css" rel="stylesheet">
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">

<link href="assets/css/font-awesome.min.css" rel="stylesheet">
<link href="assets/css/social.css" rel="stylesheet">
<link href="assets/css/pricing.css" rel="stylesheet">
<link href="assets/css/style.css" rel="stylesheet"><!-- !important THIS STYLE CSS ON BOTTOM OF STYLEs LIST-->
<link href="assets/css/prettyPhoto.css" rel="stylesheet" type="text/css" />
<link href="assets/js/google-code-prettify/prettify.css" rel="stylesheet">


<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<!-- Le fav and touch icons -->
<link rel="shortcut icon" href="assets/ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
</head>
<body>
<!--START MAIN-WRAPPER--> <div class="main-wrapper">
<!-- ################-->
 <!-- START TOP MENU -->
 <!-- ################-->
  <div class="nav-reaction">
    <div class="navbar navbar-static-top">
      <!-- navbar-fixed-top -->
      <div class="navbar-inner">
        <div class="container"> <a class="brand" href="index.html">
    <span>VERSO</span>
    <!--<img src="assets/img/Logo.png" alt="Logo">--></a>
          <div id="main-nav">
            <div class="nav-collapse collapse">
              <ul class="nav">

                <li><a href="index.html">Home</a> </li>

                <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:"> Portfolio
          <b class="caret"></b>
          </a>

                  <ul class="dropdown-menu">
                    <li><a href="portfolio-two-columns.html">Two Column</a></li>
                    <li><a href="portfolio-three-columns.html">Three Column</a></li>
          <li><a href="portfolio-four-columns.html">Four Column</a></li>
                    <li><a href="portfolio_single_project.html">Portfolio single</a></li>
          <li class="dropdown-submenu"> <a tabindex="-1" href="#">More options</a>
                <ul class="">
                  <li><a tabindex="-1" href="portfolio_single_project _video_post.html">Video project</a></li>
                  <li><a tabindex="-1" href="portfolio_single_project _alt.html">Alternative slider</a></li>
                </ul>
              </li>
                  </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="javascript:"> Pricing <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="pricing.html">Pricing tables</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="javascript:" class="dropdown-toggle" data-toggle="dropdown"> Pages <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="about_us.html">About & FAQ</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                    <li><a href="team.html">Team</a></li>
          <li><a href="features.html">Features</a></li>

                  </ul>
                </li>
               <li class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown" href="javascript:"> Blog <b class="caret"></b></a>
                  <ul class="dropdown-menu">

                    <li><a href="blog-single.html">Blog Single Page</a></li>
          <li><a href="blog-category.html">Blog category</a></li>
          <li><a href="blog-category-alt.html">Blog category alt</a></li>
          <li><a href="blog-pinterest-style.html">Pinterest style</a></li>
                  </ul>
                </li>

        <li><a href="index.html">Buy theme!</a> </li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   <!-- ################-->
 <!-- END TOP MENU -->
 <!-- ################-->
<!-- PAGE HEADER -->
<div class="page-header">
  <div class="shine">
    <div class="container">
      <div class="row-fluid">
        <div class="span12">
            <h1>Blog div</h1>
            <!-- BREADCRUMB -->
            <ul class="breadcrumb">
              <li><a href="#">Home</a> <span class="divider">&rarr;</span></li>
              <li class="active">Blog div</li>
            </ul>
            <!--END: BREADCRUMB -->
      </div>
     </div>
    </div>
     </div>
   </div>
  <!-- PAGE HEADER -->
<div class="container">
  <div class="row-fluid blog">
    <div class="span8">
      <div class="blog-post">
        <div class="">

    <span class="label label-info label-xl span2 center"><span class="date-blog">30</span> <br>January </span>
          <div class="span10"><h2 class="standart-h2title"><a href="#">The standard Lorem Ipsum passage, used since the 1500s</a></h2>
      </div>


            <p class="meta-blog clearfix">
                <i class="icon-comment"></i>
                <a href="#">3 Comments</a>
                | <i class="icon-share"></i>
                <a href="#">39 Shares</a> | <i class="icon-user"></i>
                <a href="#">Admin</a> | Tags:
                <a href="#"><span class="label label-info">Snipp</span></a>
                <a href="#"><span class="label label-info">Bootstrap</span></a>
                <a href="#"><span class="label label-info">UI</span></a>
                <a href="#"><span class="label label-info">growth</span></a>
            </p>

          <div class="thumbnail">
              <img src="images/responsive.jpg" alt="bootstrap template responsive theme">
          </div>

          <div class="dd_buttons clearfix">



          </div>
        </div>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
    <p class="lead well main-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p>Sed ut perspiciatis unde omnis iste <code>example of code like HTML</code> natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>

        <blockquote><p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p><small>Someone famous <cite title="Source Title">Source Title</cite></small></blockquote>
    <img src="images/showcase-slider.png" class="post-image" alt="bootstrap-template" />
    <p>Sed ut perspiciatis unde omnis iste <code>example of code like HTML</code> natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>

    <p><img src="images/bootstrap-template.jpg" class="post-image-full" alt="bootstrap-template" />Sed ut perspiciatis unde omnis iste <code>example of code like HTML</code> natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>



      </div>

    <div class="row-fluid">


      <div class="line2 center">
          <h5 class="standart-h3title"><span>Comments</span></h5>
      </div>


      <ul class="media-list">
                 <li class="media">
                   <a class="pull-left " href="#">

           <img class="lazy  media-object" src="images/ava1.jpg" data-original="images/ava1.jpg" alt="" width="68" height="68" style="display: inline-block;">
          <noscript>&lt;img class="media-object" src="images/ava1.jpg" alt=""&gt;</noscript>
                   </a>
                   <div class="media-body">
                    <div class="media-heading comment-info"> Posted by <i class="fa-icon-user"></i> <a href="#">Anna Smith</a> <span>|</span> 25 apr 2019 <span>|</span> <i class="fa-icon-reply"></i> <a href="#">Reply</a></div>
                     <p></p><p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p><p></p>
                     <!-- Nested media object -->
                     <div class="media">
                       <a class="pull-left " href="#">
                         <img class="lazy  media-object" src="images/ava2.jpg" data-original="images/ava2.jpg" alt="" width="68" height="68" style="display: inline-block;">
          <noscript>&lt;img class="media-object" src="images/ava2.jpg" alt=""&gt;</noscript>
                       </a>
                       <div class="media-body">
                         <div class="media-heading comment-info"> Posted by <i class="fa-icon-user"></i> <a href="#">Anna Smith</a> <span>|</span> 25 apr 2019 <span>|</span> <i class="fa-icon-reply"></i> <a href="#">Reply</a></div>
                         <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                         <!-- Nested media object -->
                         <div class="media">
                           <a class="pull-left " href="#">
                             <img class="lazy  media-object" src="images/ava3.jpg" data-original="images/ava3.jpg" alt="" width="68" height="68" style="display: inline-block;">
          <noscript>&lt;img class="media-object" src="images/ava3.jpg" alt=""&gt;</noscript>
                           </a>
                           <div class="media-body">
                             <div class="media-heading comment-info">Posted by <i class="fa-icon-user"></i> <a href="#">Anna Smith</a> <span>|</span> 25 apr 2019 <span>|</span> <i class="fa-icon-reply"></i> <a href="#">Reply</a></div>
                             <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                           </div>
                         </div>
                       </div>
                     </div>
                     <!-- Nested media object -->
                     <div class="media">
                       <a class="pull-left " href="#">
                        <img class="lazy  media-object" src="images/ava1.jpg" data-original="images/ava1.jpg" alt="" width="68" height="68" style="display: inline-block;">
          <noscript>&lt;img class="media-object" src="images/ava1.jpg" alt=""&gt;</noscript>
                       </a>
                       <div class="media-body">
                         <div class="media-heading comment-info"> Posted by <i class="fa-icon-user"></i> <a href="#">Anna Smith</a> <span>|</span> 25 apr 2019 <span>|</span> <i class="fa-icon-reply"></i> <a href="#">Reply</a></div>
                         <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                       </div>
                     </div>
                   </div>
                 </li>
                 <li class="media">
                   <a class="pull-left " href="#">
                     <img class="lazy  media-object" src="images/ava2.jpg" data-original="images/ava2.jpg" alt="" width="68" height="68" style="display: inline-block;">
          <noscript>&lt;img class="media-object" src="images/ava2.jpg" alt=""&gt;</noscript>
                   </a>
                   <div class="media-body">
                    <div class="media-heading comment-info"> Posted by <i class="fa-icon-user"></i> <a href="#">Anna Smith</a> <span>|</span> 25 apr 2019 <span>|</span> <i class="fa-icon-reply"></i> <a href="#">Reply</a></div>
                     <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                   </div>
                 </li>
               </ul>


      </div>
        <div class="line2 center">
          <h5 class="standart-h3title"><span>Post your comment</span></h5>
      </div>
      <!-- COMMENTS FORM -->
       <div class="well">

                      <form accept-charset="UTF-8"  method="POST" class="comments-form">

                       <p class="span3">
                      <label for="comment-name"><strong>Name</strong> <span class="label">required</span></label>
                      <input class="span12" type="text" name="name" placeholder="Name" value="" >
                      </p>

                      <p class="span3">
                      <label for="comment-name"><strong>Email</strong> <span class="label">required</span></label>
                      <input class="span12" type="text" name="name" placeholder="Email" value=""  required="" >
                      </p>

                      <p class="span3">
                      <label for="comment-name"><strong>Website</strong></label>
                      <input class="span12" type="text" name="name" placeholder="Website" value="" id="comment-name" required="" >
                      </p>


                    <textarea class="span12" id="new_message" name="new_message" placeholder="Type in your comment" rows="5" ></textarea>

                    <button class="btn btn-info btn-large" type="submit">Post</button>
                </form>
            </div>
      <!-- END COMMENTS FORM -->
      <hr class="soften">


    </div>
  <!-- END CONTENT SIDE -->
  <!-- SIDEBAR-->
    <div class="span4 side_bar">

    <div class="row-fluid">
        <div class="line2 center">
          <h5 class="standart-h3title"><span>Categories</span></h5>
        </div>
        <ul class="l_tinynav2 widget-archive" id="nav2">
                    <li><a href="#" style="margin-left:0px;"> news</a></li>
                    <li><a href="# " style="margin-left:0px;">Category</a></li>
                    <li><a href="#" style="margin-left:0px;">Blog</a></li>
                    <li><a href="#" style="margin-left:0px;">One more category</a></li>
                    <li><a href="#" style="margin-left:0px;">One more category</a></li>
                    <li><a href="#" style="margin-left:0px;">One more category</a></li>
                    <li><a href="#" style="margin-left:0px;">One more category</a></li>
                    <li><a href="#" style="margin-left:0px;">One more category</a></li>
                    <li><a href="#" style="margin-left:0px;">One more category</a></li>
                    <li><a href="#" style="margin-left:0px;">One more category </a></li>


                  </ul>
        </div>
    <div class="row-fluid">
    <hr class="half" />
        <div class="line2 center">
          <h5 class="standart-h3title"><span>Tags</span></h5>
      </div>

      <div class="span12">
                <a href="#"><span class="label label-info">Snipp</span></a>
                <a href="#"><span class="label label-info">Bootstrap</span></a>
                <a href="#"><span class="label label-info">UI</span></a>
                <a href="#"><span class="label label-info">growth</span></a>
                <a href="#"><span class="label label-info">Snipp</span></a>
                <a href="#"><span class="label label-info">Bootstrap</span></a>
                <a href="#"><span class="label label-info">UI</span></a>
                <a href="#"><span class="label label-info">Snipp</span></a>
                <a href="#"><span class="label label-info">Bootstrap</span></a>
                <a href="#"><span class="label label-info">UI</span></a>
                <a href="#"><span class="label label-info">growth</span></a>
                <a href="#"><span class="label label-info">growth</span></a>
                <a href="#"><span class="label label-info">Snipp</span></a>
                <a href="#"><span class="label label-info">Bootstrap</span></a>
                <a href="#"><span class="label label-info">UI</span></a>
                <a href="#"><span class="label label-info">growth</span></a>
                </div>
    </div>

    <div class="row-fluid">
    <hr class="half" />
        <div class="line2 center">
          <h5 class="standart-h3title"><span>Tabs</span></h5>
        </div>
          <div class="tabbable">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#1" data-toggle="tab">News</a></li>
              <li><a href="#2" data-toggle="tab">Freebies</a></li>
              <li><a href="#2" data-toggle="tab">WordPress</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="1">
                <p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
              </div>
              <div class="tab-pane" id="2">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci, condimentum ultrices consequat eu. Aenean nisl orci, cosequat eu.</p>
              </div>
              <div class="tab-pane" id="3">
                <p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
              </div>
            </div>
          </div>
      </div>

        <div class="row-fluid">
    <hr class="half" />
        <div class="line2 center">
        <h5 class="standart-h3title"><span>Video widget</span></h5>
        </div>
        <div class="vendor">
          <div class="container-video">
          <iframe src="http://player.vimeo.com/video/29309724?title=0&amp;color=FF5050" frameborder="0"></iframe>
          </div>
        </div>
        </div>

    </div>
  <!-- END SIDEBAR-->
  </div>
  <!-- END INNER ROW-FLUID -->
</div>
<!-- END CONTENT CONTAINER-->
<!-- Footer
    ================================================== -->
<footer class="footer">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
    <div class="row-fluid">
    <div class="span1">
        <span class="twitter-sign"> <i class="fa-icon-twitter fa-icon-large main-color"></i></span>
    </div>
    <div class="span11">
          <p class="twitter-bottom"><span class="main-color">TWITTER FEED //</span> Projecting with VERSO has been a refreshing experience. They listened to our needs and came up with a <a href="#" title="twitter">great solution</a></p>

        </div>
      </div>
    </div>
    </div>

    <div class="row-fluid">
      <div class="span3">
        <h4 class="line3 center standart-h4title"><span>Navigation</span></h4>
        <ul class="footer-links">
          <li><a href="#">Home</a></li>
          <li><a href="#">project</a></li>
          <li><a href="#">Elements</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
      <div class="span3">
        <h4 class="line3 center standart-h4title"><span>Useful Links</span></h4>
        <ul class="footer-links">
          <li><a href="#">VERSO</a></li>
          <li><a href="#">VERSO</a></li>
          <li><a href="#">WordPress.com</a></li>
          <li><a href="#">ThemeForest.net</a></li>
          <li><a href="#">Free Vector Icons</a></li>
        </ul>
      </div>
      <div class="span3">
        <h4 class="line3 center standart-h4title"><span>Our office</span></h4>
       <address>
                    <strong>VERSO, Inc.</strong><br>
                    <i class="fa-icon-map-marker"></i> 795 Folsom Ave, Suite 600<br>
                    San Francisco, CA 94107<br>
                    <i class="fa-icon-phone-sign"></i> + 4 (123) 456-7890
                    <div class="foot-line"></div>

                  </address>
      </div>
      <div class="span3">
        <h4 class="line3 center standart-h4title"><span>Stay in touch</span></h4>

        <div class="widget_nav_menu">
        <ul class="socialIcons">
            <li class="vimeo"><a href="#">vimeo </a></li>
            <li class="facebook"><a href="#">facebook </a></li>
            <li class="linkedin"><a href="#">linkedin </a></li>
            <li class="twitter"><a href="#">twitter</a></li>
            <li class="twitter2"><a href="#">twitter2</a></li>
            <li class="pinterest"><a href="#">pinterest</a></li>
            <li class="flickr"><a href="#">flickr </a></li>
            <li class="digg"><a href="#">digg</a></li>
            <li class="yahoo1"><a href="#">yahoo1</a></li>
            <li class="yahoo2"><a href="#">yahoo2</a></li>
            <li class="reddit"><a href="#">reddit</a></li>
            <li class="googleplus"><a href="#">googleplus</a></li>
            <li class="stumbleupon"><a href="#">stumbleupon</a></li>
            <li class="skype"><a href="#">skype</a></li>
            <li class="deviantart"><a href="#">deviantart</a></li>
            <li class="delicious"><a href="#">delicious </a></li>
            <li class="tumblr"><a href="#">tumblr </a></li>
            <li class="lastfm"><a href="#">lastfm </a></li>
            <li class="youtube"><a href="#">youtube</a></li>
            <li class="friendfeed"><a href="#">friendfeed </a></li>
            <li class="myspace"><a href="#">myspace </a></li>
            <li class="rss"><a href="#">rss </a></li>
            <li class="badoo"><a href="#">badoo </a></li>
            <li class="dribble"><a href="#">dribble </a></li>
            <li class="blogger"><a href="#">blogger </a></li>
            <li class="homeicon"><a href="#">homeicon</a></li>
            <li class="phone"><a href="#">phone </a></li>
            <li class="email"><a href="#">email </a></li>
            <li class="picassa"><a href="#">picassa </a></li>
            <li class="livejournal"><a href="#">livejournal </a></li>
            <li class="bebo"><a href="#">bebo </a></li>
            <li class="technorati"><a href="#">technorati </a></li>
            <li class="newsvine"><a href="#">newsvine</a></li>
            <li class="wordpress"><a href="#">wordpress </a></li>
            <li class="yelp"><a href="#">yelp </a></li>
                   </ul>
        </div>
      </div>
    </div>
    <hr class="half1 copyhr">
    <div class="row-fluid copyright">
      <div class="span12 center">Copyright &copy; 2012. VERSO</div>
    </div>
  </div>
</footer>

<!-- END: FOOTER -->
</div>
<!-- END: MAIN-WRAPPER-->
<!-- Le javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="assets/js/jquery.js"></script>
<script src="assets/js/google-code-prettify/prettify.js"></script>
<script src="assets/js/bootstrap-transition.js"></script>
<script src="assets/js/bootstrap-alert.js"></script>
<script src="assets/js/bootstrap-modal.js"></script>
<script src="assets/js/bootstrap-dropdown.js"></script>
<script src="assets/js/bootstrap-scrollspy.js"></script>
<script src="assets/js/bootstrap-tab.js"></script>
<script src="assets/js/bootstrap-tooltip.js"></script>
<script src="assets/js/bootstrap-popover.js"></script>
<script src="assets/js/bootstrap-button.js"></script>
<script src="assets/js/bootstrap-collapse.js"></script>
<script src="assets/js/bootstrap-carousel.js"></script>
<script src="assets/js/bootstrap-typeahead.js"></script>
<script src="assets/js/bootstrap-affix.js"></script>
<script src="assets/js/application.js"></script>
<script type="text/javascript" src="assets/js/jquery.easing.js"></script>
<script src="assets/js/jquery.prettyPhoto.js" type="text/javascript"></script>
<script src="assets/js/superfish.js" type="text/javascript"></script>

<script src="assets/js/jquery.ui.totop.js" type="text/javascript"></script>
<script src="assets/js/custom.js" type="text/javascript"></script>
</body>
</html>
