
<!--START MAIN-WRAPPER--> 
<div class="main-wrapper">


    <!-- ################-->
    <!-- START TOP MENU -->
    <!-- ################-->
    <div class="nav-reaction">
      <div class="navbar navbar-static-top"> 
        <!-- navbar-fixed-top -->
        <div class="navbar-inner">
          <div class="home_page_container"> <a class="brand" href="/"> 
            <img src="http://www.logomaker.com/logo-images/b22571254ae62347.gif">
            <span id="homepage_header">Coders for Humanity</span></a>
            <div id="main-nav">
              <div class="nav-collapse collapse">
                <ul class="nav">

                  <li class="dropdown"><a href="#about_us">About Us</a> </li>
                  <li><a href="#projects_home">Projects</a></li>
                  <% #if current_user %>
                  <li><a href="#users_show">My Dashboard</a></li>
                  <% #else %>
                  <li><a href="#projects_home">Get Started</a></li>
                  <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign in</a>
                  <% #end %>
                    <ul class="dropdown-menu">
                      <li>
                        <div style="padding: 15px; padding-bottom: 0px;">
                          <form method="post" action="login" accept-charset="UTF-8">
                            <input style="margin-bottom: 15px;" type="text" placeholder="Username" id="username" name="username">
                            <input style="margin-bottom: 15px;" type="password" placeholder="Password" id="password" name="password">
                            <input style="float: left; margin-right: 10px;" type="checkbox" name="remember-me" id="remember-me" value="1">
                            <label class="string optional" for="sign-in"> Remember me</label>
                            <input class="btn btn-info btn-block" type="submit" id="sign-in" value="Sign In">
                            <label style="text-align:center;margin-top:5px">or</label>
                            <input class="btn btn-primary btn-block" type="button" id="sign-in-google" value="Sign In with Github">

                          </form>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>