<!-- ################-->
<!-- END TOP MENU -->
<!-- ################-->


<!-- PAGE HEADER IMAGE BACKGROUND -->
<div class="page-header">
  <div class="shine">
    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <div class="row-fluid">
            <div class="span12">
              <h1 class="welcome_to_dashboard">About Us</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- PAGE HEADER -->
<div class="span12">
  <div class="container">
    <div class="row-fluid blog">
    </div>
  </div>
</div>
</div>

<div class="container">
  <!--###################-->
  <!-- FILTERS-->
  <!--###################-->





  <div id="container-folio" class="row ufilter"><!-- !important! => DONT REMOVE class="ufilter"--> 
    <!-- START MAIN CONTENT DIV -->
    <div class="span9 offset3">
      <div id="portfolio" class="row">
        <!-- portfolio item // THIS ITEM COMMENTED -->
        <!-- <div id="a"> -->
       <div class='span9 offset 3'>
            <a href="http://about.me/jen.fry"><div class="jen" ></div></a> 
            <a href="https://github.com/ukutaht"><div class="uku"></div></a>
            <a href="https://github.com/elizabethengelman"><div class="liz"></div></a>
            <a href="https://github.com/lperez111"><div class="luis"></div></a>
            <a href="https://github.com/DriftingWave"><div class="adigo"></div></a>
          <!-- </ul> -->
        </div>

      </div>
    </div>
  </div>

  <!--###################-->
  <!--END: FILTERS-->
  <!--###################-->
  <!--###################-->
  <!-- START PORTFOLIO -->
  <!--###################-->
  
  <!--###################-->
  <!-- END PORTFOLIO -->
  <!--###################-->

<!-- END CONTAINER -->

<!-- Footer
  ================================================== -->

