<!-- PAGE HEADER IMAGE BACKGROUND -->
<div class="page-header">
  <div class="shine">
    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <div class="row-fluid">
            <div class="span12">
              <h1 class="welcome_to_dashboard">About Us</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- PAGE HEADER -->
<div class="span12">
  <div class="container">
    <div class="row-fluid blog">
    </div>
  </div>
</div>
</div>

<div class="container">
    <div class="large-text center"> Why Coders For Humanity? </div><br>

    <p><h4 class="single-title span9 offset3">The idea of Coders for Humanity was hatched during the 9-week intensive that is <span class="bold"><a href="http://www.devbootcamp.com">Dev Bootcamp</span></a>.  The project was compiled and executed over the course of 8 days of round the clock work, during the final phase of the course.  The vision was collectively framed by our team with the hopes of carrying out the project past our graduation date.  We seek to provide a platform for everyone with a socially beneficial idea to make beautiful and meaningful things together. </h4><br><br><br>
  </div>
  <br>
    <div class="large-text center"> Our Team </div><br>




  <div id="container-folio span 12" class="row ufilter"><!-- !important! => DONT REMOVE class="ufilter"--> 
    <!-- START MAIN CONTENT DIV -->
    <div class="span8 offset4">
      <div id="portfolio" class="row">
          <ul>
            <li><a span2 href="http://about.me/jen.fry"><div class="jen" ></div></a></li>
            <li><a span2 href="https://github.com/ukutaht"><div class="uku"></div></a></li>
            <li><a href="https://github.com/elizabethengelman"><div class="liz"></div></a></li>
            <li><a href="https://github.com/lperez111"><div class="luis"></div></a></li>
            <li><a href="https://github.com/DriftingWave"><div class="adigo"></div></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>