.span4.side_bar {
	border: 1px solid #C8DAE0;
	background-color: #def1f7
}

.label.label-info.label-xl.span4 {
	font-size: 20px;
}

p.lead a{
	color: #2790b0;
	font-weight: bold;
}

ul#nav2.l_tinynav2.widget-archive a {
	border: none;
	margin: auto;
	color: #2790B0;
}

.edit-profile {
  font-size: 10px;
}

.breadcrumb.span3.lead{
  font-size: 30px;
  padding-top: 7px;
  text-align: left;
}
.breadcrumb{
  height: 80px;
}

.new-feedback {
	padding-top: 30px;
}

.new-feedback.button {
	padding: 30px;
}