.meta-blog.clearfix {
  text-align: center; 
}

.row-fluid.blog {
  padding-left: 40px;
}

.proj ul li{
	display: inline;
}

.box.pint-blog.popular {
	height: 150px;
}

.tab-pane {
  display:none;
}

.tab-pane.active {
  display: block;
}

#tab-navigation {
  margin: 0;
}

.proj {
  padding:0!important;
}
