.feedback_subject {
  width: 300px;
}

.project_flag
{
  font-size: 80%;
}

.project_title {
  text-align: left;
  text-transform: none;
}


.project_status {
  font-weight: bold;
}

.welcome_to_dashboard {
  font-size: 200%;
  font-weight: bold;
  text-transform: uppercase;
}

.dashboard_button ul li {
  display: inline;
}