.feedback_subject {
  width: 300px;
}

.project_flag
{
  font-size: 80%;
}

.project_title {
  text-align: left;
  text-transform: none;
}


.project_status {
  font-weight: bold;
}

.welcome_to_dashboard {
  font-size: 200%;
  font-weight: bold;
  text-transform: uppercase;
}

.dashboard_button ul li {
  display: inline;
}

.pending-collab{
  float:left;
  margin:20px;
}

.pending-collab .btn{
  margin-left:10px;
}

.assigned-collab {
  display:block;
  clear:both;
}

.assigned-collab .large-text{
  float:left;
  margin-left: 25px;
}

ul.list-group {
  margin:20px;
  display:block;
  clear:both;
  float:left;
}

.developer{
  margin:10px;
  font-size: 20px;
  float:left;
  display: block;
}

.button1, 
.button2 {
  display:inline-block;
  padding: 30px;
}

.dev_link {
  color: #2790b0;
  font-weight: bold;
}
