.buttons.span5 {
 text-align: center;
 margin:auto;
 padding-top: 10px;
 margin-bottom: 75px;
}

.header_list {
  list-style-type: none;
}

.homepage_container {
  margin-left: 10px;
}

.large-text .span10 {
  padding-top: 30px;
}

.minspace{
  padding-bottom: 50px;
}

.xspace{
  margin-top: 100px;
}

.space {
  padding: 40px;
}

.span1.arrow-right1{
  width:0;
  height:0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 50px solid #2790B0;
}

.span1.arrow-right2{
  width:0;
  height:0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 50px solid #2790B0;
}

.span2.offset5 {
  padding-right: 140px;
}

.span2.offset7 {
  padding-right: 40px;
}

.span2.offset9 {
  padding-top: 40px;
}

.span3.large-text {
  font-weight: normal;
}

.span4.offset5.large-text.xspace {
  display:inline;
  margin-left: auto;
}

.span6.center.lead{
  margin:auto;
  float:none;
}

.span6.offset1.videoratio.pull-right {
  margin-right: 100px;
}

.stretch {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: teal;
}

.videoratio {
  position: relative;
  padding-right: 20%;
  padding-bottom: 20%;
  height: 0;
}

#about_us,
#featured,
#creators,
#developers {
  padding-top:100px;
  padding-bottom: 100px;
}

#developers{
  margin: -70px;
}

#featured,
#developers {
  background-color: #DEF1F7;
}

#homepage_header{
  font-size:40px;
  font-family: 'Coda', cursive;
}

a.btn-large.btn-warning {
  font-weight: normal;
}


a.btn-large.btn-warning:hover {
  font-weight: bold;
  text-decoration: none;
}

a.click-here {
  color: #0088cc;
}

a#solution_button.btn-large.btn-warning {
  background-image: linear-gradient(to bottom, #fa9f1e, #e07500)
}

a#dev_button.btn-large.btn-warning {
  background-image: linear-gradient(to bottom, #fa9f1e, #e07500)
}

div.span5.large-text h2 {
  text-align: center;
  line-height: 60px;
  font-size: 60px;
  /*padding-left:100px;*/
}

input.btn-large.btn-warning.first {
  background-image: linear-gradient(to bottom, #fa9f1e, #e07500)
}

input.btn-large.btn-warning.second {
  background-image: linear-gradient(to bottom, #fa9f1e, #e07500)
}

