.large-text .span10 {
  padding-top: 30px;
}

.header_list {
  list-style-type: none;
}

.span6 .pull-right {
  padding-top: 300px;
  padding-right: 40px;
}

.minspace{
  padding-bottom: 50px;
}

.space {
  padding: 40px;
}

.xspace{
  margin-top: 100px;
}

#homepage_header{
  font-size:40px;
}

.homepage_container {
  margin-left: 10px;
}

div.span5.large-text h2 {
  text-align: center;
  line-height: 60px;
  font-size: 60px;
  /*padding-left:100px;*/
}

.buttons.span5 {
 text-align: center;
 margin:auto;
}

.videoratio {
  position: relative;
  padding-right: 20%;
  padding-bottom: 20%;
  height: 0;
}

.stretch {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: teal; 
}



a.btn-large.btn-warning:hover {
  font-weight: bold;
  text-decoration: none;
}


