<div id="sample_project" style="width:500px; margin: 20px auto; font-size:1.2em;"><br>
  <p>
    <strong>
      Title:
    </strong><br>
    Build me a system I can use to catalogue and display the plants in my nursery
  </p>

  <p>
    <strong>
      Description:
    </strong><br>
    My current process involves taking a photo of each plant, printing the photo, and displaying it in a folder with a hand-written description.  Each time I stock a new plant I have to rearrange the order of the folder. Printing costs are expensive, because of this I can only have one folder at a time.
  </p>
</div>

