<br>
<br>
<table style="width:350px;">
  <tr>
    <td>
      <h4>Title:</h4>
    </td>

    <td>
      <%= @project.title %>
    </td>
  </tr>

  <tr>
    <td>
      <h4>Category:</h4>
    </td>

    <td>
      <%= @project.category.name %>
    </td>
  </tr>

  <tr>
    <td>
      <h4>Description:</h4>
    </td>

    <td>
      <%= @project.description %>
    </td>
  </tr>
</table>
